@page "/SportTogether/Annonces"
@using SportTogetherBlazor.Components.Pages.ComposantsReutilisables
@using SportTogetherBlazor.Models
@using SportTogetherBlazor.Services
@inject NavigationManager navigation
@inject SessionStorageServices session
<PageTitle>Annonces | SportTogether</PageTitle>

<nav class="navbar navbar-expand position-static" style="background-color:#eff7f4">
       <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarText">
                <Button Type="ButtonType.Link" Color="ButtonColor.Success" Size="Size.Medium" @onclick="AllerAAjoutAnnonce" TooltipTitle="Ajouter une annonce"> <Icon Name=" IconName.PlusCircle" Color="IconColor.White" /></Button>
                 <EditForm Model="@rechercheModel" OnSubmit="@RechercheSubmit" FormName="RechercheForm">
                     <DataAnnotationsValidator />
                     <ValidationSummary />
                     <div class="form-group d-flex flex-row">
                        <InputText id="rechercheTitre" class="form-control"
                                       @bind-Value="rechercheModel.Titre" placeholder="Recherche..." />
                        <Button Type="ButtonType.Submit" Color="ButtonColor.Light" Size="Size.Medium" TooltipTitle="Rechercher"> <Icon Name=" IconName.Search" /></Button>

                     </div>
                 </EditForm>
            <div class="btn-group">
                <Button Type="ButtonType.Link" Color="ButtonColor.Info" Size="Size.Medium" @onclick="AllerAAjoutAnnonce" TooltipTitle="Filtrer par sport"> <Icon Name=" IconName.Filter" Color="IconColor.White" /></Button>
                <Button Type="ButtonType.Link" Color="ButtonColor.Info" Size="Size.Medium" @onclick="AllerAAjoutAnnonce" TooltipTitle="Filtrer par ville"> <Icon Name=" IconName.PinMap" Color="IconColor.White" /></Button>
                <Button Type="ButtonType.Link" Color="ButtonColor.Info" Size="Size.Medium" @onclick="AllerAAjoutAnnonce" TooltipTitle="Filtre par genre"> <Icon Name=" IconName.GenderAmbiguous" Color="IconColor.White" /></Button>
            </div>
            </div>
       
       </div>
    </nav>
<div class="container-fluid">
    <!-- Cards Section -->
    <div class="row mt-3">
     
        @foreach (AnnonceVue annonce in annonces) {
            <div class="col-md-4 mb-4 col-sm-6 col-xs-12">
           <AnnonceCard annonceVue="@annonce" />
            </div>
        }
      
    </div> 
</div>




<style>
    /* Existing styles */
    .card-header img {
        width: 100%; /* Adjust image width within card */
    }
    .card{

    }
</style>

@code {
    private List<AnnonceVue> annonces = new List<AnnonceVue>();
    private bool bFirstFiltreAnnonces = false;
    [Inject] protected PreloadService PreloadService { get; set; }
    private RechercheModel rechercheModel = new RechercheModel();

    public int utilisateurId { get; set; }
    public class RechercheModel
    {
        public string Titre { get; set; } = string.Empty;
    }
    protected override void OnAfterRender(bool firstRender)
    {

    }
    protected override void OnInitialized()
    {
        for (int i = 1; i <= 20; i++)
        {
            annonces.Add(new AnnonceVue
                {
                    AnnoncesId = i,
                    AuteurId = i,
                    Auteur = $"Auteur {i}",
                    SportId = i % 5 + 1, // Five different sports
                    Titre = $"Titre de l'annonce {i}",
                    Description = $"Description détaillée de l'annonce {i}. Voici plus de détails sur l'activité proposée, les compétences requises, etc.",
                    GenreAttendu = (i % 2 == 0) ? "Masculin" : "Féminin",
                    NombreParticipants = i % 10 + 5,
                    ListAnnonceImage = new List<AnnonceImage>(){new AnnonceImage
                    {
                        AnnoncesId = 1,
                        Url =  "images/Athletisme.jpg",
                        ImageId = i
                    }},
                    Ville = $"Ville {i}",
                    Lieu = $"Lieu {i}",
                    DateHeureAnnonce = DateTime.Now.AddDays(i)
                });
          
        }
        Utilisateur utilisateurInfo = session.GetUserFromSession()!;
        utilisateurId = utilisateurInfo.UtilisateursId;

    }
    private void AllerAAjoutAnnonce()
    {
        /* navigation.NavigateTo($"/SportTogether/Annonces/AjoutAnnonce/{utilisateurID}/{villeDeBase}"); */
        navigation.NavigateTo($"/SportTogether/Annonces/AjoutAnnonce");
    }
    private async Task RechercheSubmit()
    {
        if (!string.IsNullOrWhiteSpace(rechercheModel.Titre))
        {
            if (bFirstFiltreAnnonces)
            {
                PreloadService.Show(SpinnerColor.Light,"Recherche en cours...");
                await Task.Delay(10000);
                annonces.Clear();
                for (int i = 1; i <= 20; i++)
                {
                    annonces.Add(new AnnonceVue
                        {
                            AnnoncesId = i,
                            AuteurId = i,
                            Auteur = $"Auteur {i}",
                            SportId = i % 5 + 1, // Five different sports
                            Titre = $"Titre de l'annonce {i}",
                            Description = $"Description détaillée de l'annonce {i}. Voici plus de détails sur l'activité proposée, les compétences requises, etc.",
                            GenreAttendu = (i % 2 == 0) ? "Masculin" : "Féminin",
                            NombreParticipants = i % 10 + 5,
                            ListAnnonceImage = new List<AnnonceImage>(){new AnnonceImage
                    {
                        AnnoncesId = 1,
                        Url =  "images/Athletisme.jpg",
                        ImageId = i
                    }},
                            Ville = $"Ville {i}",
                            Lieu = $"Lieu {i}",
                            DateHeureAnnonce = DateTime.Now.AddDays(i)
                        });
                }
            }
            annonces = annonces.Where(a => a.Titre.Contains(rechercheModel.Titre, StringComparison.OrdinalIgnoreCase)).ToList();
            bFirstFiltreAnnonces = true;
            PreloadService.Hide();
            StateHasChanged();
        }
        else
        {
            annonces = annonces;
        }
    }
 }