@page "/SportTogether"
@inject NavigationManager NavigationManager
<PageTitle>Accueil | SportTogether</PageTitle>
<nav class="navbar sticky-top navbar-expand-lg position-sticky" style="background:#201c1c">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/images/logo-no-background.png" width="60" height="60" alt="SportTogether"> <span class="text-light">SportTogether</span>
        </a>
    </div>
    <div class="ms-l-auto ms-sm-1">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse accordion-collapse  text-nowrap" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <NavLink class="nav-link text-light" href="/SportTogether" style="color: lightgray;">Accueil</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-light" href="#Apropos" style="color: lightgray;">A propos</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-light" href="#Contact" style="color: lightgray;">Contact</NavLink>
                </li>
            </ul>
            <Button Color="ButtonColor.None" onclick="@AllerSeConnecter" TooltipTitle="Se connecter"><Icon Name="IconName.PersonCircle" Color="IconColor.Light" Size="IconSize.x2"></Icon></Button>
            <hr/>
            <Button Color="ButtonColor.None" onclick="@AllerInscription" TooltipTitle="Inscription" TooltipPlacement="TooltipPlacement.Bottom"><Icon Name="IconName.SignIntersectionFill" Color="IconColor.Light" Size="IconSize.x2"></Icon></Button>
        </div>
       
   </div>
</nav>



@code {
    private void AllerSeConnecter()
    {
        NavigationManager.NavigateTo("SportTogether/Connexion");
    }  
    private void AllerInscription()
    {
        NavigationManager.NavigateTo("SportTogether/Inscription");
    }
}
