@inject NavigationManager NavigationManager
@inherits LayoutComponentBase
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<div class="page">
    @if (NavigationManager.Uri != NavigationManager.BaseUri && NavigationManager.Uri != (NavigationManager.BaseUri + "Connexion") && NavigationManager.Uri != (NavigationManager.BaseUri + "Inscription"))
    {
        <NavMenu />
    }

    <main>
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += HandleLocationChanged;
    }

    private void HandleLocationChanged(object sender, LocationChangedEventArgs e)
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= HandleLocationChanged;
    }
}
