@inject NavigationManager NavigationManager
@inherits LayoutComponentBase

<div class="page">
    @if (NavigationManager.Uri != NavigationManager.BaseUri)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += HandleLocationChanged;
    }

    private void HandleLocationChanged(object sender, LocationChangedEventArgs e)
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= HandleLocationChanged;
    }
}
