@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

@if (isUserAuthenticated)
{
    <nav class="navbar">
        <ul class="navbar__menu">
            <li class="navbar__item">
                <NavLink class="navbar__link" href="/">
                    <i class="bi bi-house"></i><span>Accueil</span>
                </NavLink>
            </li>
            <li class="navbar__item">
                <NavLink class="navbar__link" href="/messages">
                    <i class="bi bi-envelope"></i><span>Messages</span>
                </NavLink>
            </li>
            <li class="navbar__item">
                <NavLink class="navbar__link" href="/profil">
                    <i class="bi bi-person"></i><span>Profil</span>
                </NavLink>
            </li>
        </ul>
    </nav>

}

@code {
    private bool isUserAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        isUserAuthenticated = user.Identity.IsAuthenticated;
    }
}
